{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Liste des articles{% endblock %}

{% block body %}

    <h2>Liste des animaux</h2>

    <p><a href="{{ path('animal-add') }}" class="btn btn-success">Ajouter un animal</a></p>

    <form action="{{ path('animal_list') }}" method="POST" class="form">
        <label for = "breed-select"><h3>voir uniquement les animaux de la race</h3></label>
        <select name="breed" id="breed-select">
        <option value="">--choisissez une race--</option>
        {% for animal in listAnimal %}
        <option value="{{ animal.breed.id }}">{{ animal.breed.name }}</option>
        {% endfor %}
        </select>
    </form>

    <table class="table table-hoverable table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom de m'animal</th>
                <th scope="col">Date de naissance</th>
                <th scope="col"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        
        
            {% for animal in listAnimal %}

                 <tr>
                    <th scope="row">{{ animal.id }}</th>
                    <td>
                        <a href="{{ path('animal-show', {id: animal.id}) }}">{{ animal.name }}
                        </a>
                    </td>
                    <td>{{ animal.birthdate|date("d-m-Y") }}</td>
                    
                    <td>
                        <a class="btn btn-sm btn-primary" href="{{ path('animal-update', {id: animal.id}) }}">Modifier</a>

                        <a onclick="return confirm('Supprimer l\'article #{{ animal.id }}')" class="btn btn-sm btn-danger" href="{{ path('animal-delete', {id: animal.id}) }}">Supprimer</a>
                    </td>
                </tr>

            {% else %}
                <tr>
                    <th scope="row" colspan="5">
                        Maurice a cassé la BDD ?
                    </th>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
