{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Liste des articles{% endblock %}

{% block body %}

    <h2>Liste des articles</h2>

    <p><a href="{{ path('app_post-add') }}" class="btn btn-success">Ajouter un article</a></p>

    <table class="table table-hoverable table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Date de publication</th>
                <th scope="col">Modifié le</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        
            {% for post in listPost %}

                 <tr>
                    <th scope="row">{{ post.id }}</th>
                    <td>
                        <a href="{{ path('app_post-show', {id: post.id}) }}">{{ post.title }}
                        </a>
                    </td>
                    <td>{{ post.publishedAt|date("Y-m-d H:i") }}</td>
                    <td>{% if post.updatedAt %}{{ post.updatedAt|date("Y-m-d H:i") }}{% endif %}</td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="{{ path('app_post-update', {id: post.id}) }}">Modifier</a>

                        <a onclick="return confirm('Supprimer l\'article #{{ post.id }}')" class="btn btn-sm btn-danger" href="{{ path('app_post-delete', {id: post.id}) }}">Supprimer</a>
                    </td>
                </tr>

            {% else %}
                <tr>
                    <th scope="row" colspan="5">
                        Maurice a cassé la BDD ?
                    </th>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
