{% extends "base.html.twig" %}

{% block title %}{{ animal.name }}{% endblock %}

{% block body %}

<h2>{{ animal.name }} </h2>

<p><i>Né le : {{ animal.birthdate|date("d-m-Y") }}</i></p>

<p>suivi par le vétérinaire: {{ animal.healthSheet }}</p>

 <p>
 <span class="badge bg-warning text-dark">Race de l'animal: {{ animal.breed.name }}</span>

</p>



{% endblock %}